<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="throttled" default="false"/>

  <!-- set use_sim_time flag -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>


  <!-- start empty world -->
  <group if="$(arg paused)">
    <group if="$(arg throttled)">
      <node name="gazebo" pkg="gazebo" type="gazebo" args="-u $(find gazebo_worlds)/worlds/empty_throttled.world" respawn="false" output="screen"/>
    </group>
    <group unless="$(arg throttled)">
      <node name="gazebo" pkg="gazebo" type="gazebo" args="-u $(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>
    </group>
  </group>
  <group unless="$(arg paused)">
    <group if="$(arg throttled)">
      <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty_throttled.world" respawn="false" output="screen"/>
    </group>
    <group unless="$(arg throttled)">
      <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>
    </group>
  </group>

  <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>
  </group>


  <!-- Convert xacro and put on parameter server -->
  <!--param name="sf1-1" command="$(find xacro)/xacro.py $(find sunflower)/urdf/sf1-1.xacro" /-->

  <!-- spawn a robot into Gazebo -->
  <!--node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot" /--> 
  
  <!--param testfile="$(find git)/sunflower/sf_robot/config/sf1-1.urdf" /-->

  <!--node name="spawn_robot" pkg="gazebo" type="spawn_model" args="-gazebo -param robot_model -model myrobot" respawn="false" output="screen" /-->


</launch>
